:root {
  --main-bg-color: rgba(250,250,250,1);
  --highlight-color: ;
  --box-shadow: 0px 10px 20px rgba(77, 97, 108, .24);
  --h1: 900 80px Josefin Sans, sans-serif;
  --h2: 900 42px Josefin Sans, sans-serif;
  --h3: 900 24px/36px Josefin Sans, sans-serif;
  --h4: 900 16px Josefin Sans, sans-serif;
  --body-semibold: 600 16px/19px Roboto, sans-serif;
  --body: 400 16px/19px Roboto, sans-serif;
}

h3 {
  font: var(--h3);
}

.strong {
  font-weight: 800;
}

@media (max-width: 520) {
  .app {
    padding: 5px 20px;
  }
}

@media (max-width: 900) {
  .app {
    padding: 5px 60px;
  }
  .body {
    max-width: unset;
  }
}

.app {
  padding: 5px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  
}

.title-text {
  animation: 2s fade-down-in;
  font: var(--h1);
}

.subtitle-text {
  opacity: 0.0;
  animation: 1.5s fade-up-in forwards;
  animation-delay: 1.5s;
  font: var(--h2);
}

.email-card {
  box-shadow: var(--box-shadow);
  padding: 10px 40px;
  opacity: 0.0;
  border-radius: 8px;
  animation: 0.9s fade-up-in forwards;
  animation-delay: 3s;
  margin: 20px 0px;
}

.email-title {
  font: var(--h3);
}

.email-lookup {
  display: block;
  padding: 10px 0px;
}

.email-link {
  display: block;
  margin-top: 20px;
  font: var(--h3);
  text-align: center;
  width: 100%
}

.email-select {
  padding: 10px 0px;
}

.body {
  opacity: 0.0;
  animation: 2s fade-in forwards;
  animation-delay: 3s;
  font: var(--body);
  max-width: 700px;
}

.paragraph-parent {
  margin-top: 40px;
}

.budget {
  display: block;
  padding-top: 20px;
  margin-bottom: 80px;
}

.script-button {
  background: transparent;
  font: var(--h4);
  border: none;
  display: block;
  padding: 20px;
  margin-left: 30px;
  color: gray;
  float: right;
}

.script-show {
  height: 300px;
  opacity: 1.0;
  transition: height 1s, opacity 0.25s;
  overflow: auto;
}

.script-hide {
  height: 0px;
  opacity: 0.0;
  transition: height 1s, opacity 0.25s;
  overflow: hidden;
}

.script-help {
  font-style: italic;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: center;
}

.council-card {
  box-shadow: var(--box-shadow);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  margin: 12px;
}

.council-name {
  font: var(--h4);
  margin: 0px;
  padding: 12px 0px;
}

.council-link {
  line-height: 1.5;

}

.footer {
  padding: 20px 0px;
}

.footer-link {
  text-decoration: none;
}

@keyframes fade-up-in {
  from {
    opacity: 0.0;
    transform: translateY(40%);
  }
  to {
    opacity: 1.0;
    transform: translateY(0%);
  }
}

@keyframes fade-down-in {
  from {
    opacity: 0.0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1.0;
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
